{% extends "base.html" %}

{% load tailwind_filters %}

{% block content %}
    <div class="mt-4">
        <a class="inline-flex text-white bg-black hover:bg-fuchsia-600 px-3 py-2 rounded-full" href="/">
            Back
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-6 h-6 pl-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
            </svg>
        </a>
    </div>
    <div class="mt-4 mb-8">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type='submit' class="w-full text-black bg-white hover:bg-fuchsia-600 text-white px-3 py-2  rounded-full">
                Submit
            </button>
        </form>
    </div>

{% endblock content %}

